$centro: center;
%navegador_estilo {
    border: 1px solid #EFCBC8;
    margin-left: -15px;
    margin-right: -15px;
    
}


body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

#banner {
    height: 110px;
    background-color: black;
    text-align: center;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -15px;
    
}

#logo_banner {
    height: 100px;
    width: 140px;
    
}
#barra_navegador {
    margin-top: -16px;
}

#ban_log {
    margin-top: 30px;
    text-align: right;
}

#seccion_loggeo {
    list-style-type: none;
    margin-right: 15px;
    margin-top: -100px;
}



#lista_navegador {
    list-style-type: none;
    padding-inline-start: 0;
    align-items: center;
    -webkit-box-align: center;
    
}

#nav_1, #nav_2, #nav_3 {
    @extend %navegador_estilo;
    
}

.contenido_nav {
    width: 1%;
    font-size: 1.4em;
    text-align: $centro;
    text-decoration: none;
    display: table-cell;
    padding: 15px;
    
}

#radio_play_pause {
    border: 1px black solid;
    margin: 20px;
}

#bloque_central {
    display: flex;
    text-align:center;
    
}

#radio_video_enVivo {
    border: 1px black solid;
    margin: 20px;
    height: 14cm;
    width: 25cm;
    margin-left: auto;
    margin-right: auto;
    
}

.patrocinadores {
    border: 1px black solid;
    margin: 20px;
    height: 15cm;
    width: 10cm;
    margin-left: auto;
    margin-right: auto;

}

#patrocinador_1, #patrocinador_2 {
    border: 1px black solid;
    height: 7.5cm;
    width: 10cm;
}

#bloque_final {
    text-align:center;
    border: 1px black solid;
    
}

.programas_radio {
    margin: 20px;
    height: 5cm;
    width: 35cm;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

#program_1, #program_2, #program_3, #program_4 {
    border: 1px black solid;
    height: 5cm;
    width: 8.8cm;
}